<h1>SENSORES</h1>



<table class="table-minimal">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Ubicacion</th>
      <th>Descripcion</th>
      <th>Pines conectados</th>
      <th>Fecha de creacion</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of sensores">
        <td>{{ user.nombre }}</td>
        <td>{{user.tipo}}</td>
        <td>{{user.ubicacion}}</td>
        <td>{{user.descripcion}}</td>
        <td>{{ user.pines }}</td>
        <td>{{user.fecha_creacion}}</td>
        <td>
            <a [routerLink]="'/sensores/' + user.type " class="btn ">Ver</a>
          <a [routerLink]="'/sensores/UP/' + user._id " class="btn ">Editar</a>
          <button class="btn btn-primary" (click)="deleteUser(user)">Eliminar</button>
        </td>
      </tr>
  </tbody>
</table>
