<div class="container">
  <h2>Editar Autor</h2>
  <form [formGroup]="autorForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" formControlName="nombre" class="form-control" id="nombre">
      <div *ngIf="autorForm.controls['nombre'].invalid && (autorForm.controls['nombre'].dirty || autorForm.controls['nombre'].touched)" class="alert alert-danger">
        <div *ngIf="autorForm.controls['nombre'].hasError('required')"> 
          El nombre es obligatorio.
        </div>
        <div *ngIf="autorForm.controls['nombre'].hasError('minlength')"> 
          El nombre debe tener al menos 3 letras.
        </div>
        <div *ngIf="autorForm.controls['nombre'].hasError('pattern')"> 
          El nombre solo puede contener letras.
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="autorForm.invalid">Crear</button>
  </form>
</div>