<h1>SALONES</h1>
<div>
  <a class="btn btn-primary" routerLink="/salones/crear">Crear salon</a>
</div>

<table class="table-minimal">
  <thead>
    <tr>
      <th>Ubicacion</th>
      <th>Usuario</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of salones">
      <td>{{user.ubicacion }}</td>
      <td>{{user.user.name}}</td>
      <td>
        <a [routerLink]="'/sensor/add/' + user._id " class="btn">Agregar sensores</a>
        <a [routerLink]="'/sensor/' + user._id " class="btn">Ver sensores</a>
        <a [routerLink]="'/salones/UP/' + user._id " class="btn">Editar</a>
        <button class="btn btn-primary" (click)="deleteUser(user)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>
