<h1>LIBROS</h1>
<div>
  <a class="btn btn-primary" routerLink="/libros/crear">Crear Libro</a>
</div>

<table class="table table-striped table-over" [@enterState]>
    <thead>
        <tr>
          <th>Nombre</th>
          <th>Año de publicación</th>
          <th>Número de páginas</th>
          <th>Editorial</th>
          <th>Autor</th>
          <th>País</th>
        </tr>
      </thead>
  <tbody>
    <ng-container *ngFor="let user of libros">
      <tr *ngIf="user.status === 1">
        <td>{{ user.nombre }}</td>
        <td>{{ user.fecha_de_publicacion }}</td>
        <td>{{ user.numero_de_paginas }}</td>
        <td>{{ user.fk_editorial }}</td>
        <td>{{ user.fk_autor }}</td>
        <td>{{ user.fk_pais }}</td>

        <td>
          <a [routerLink]="'/libros/UP/' + user.id " class="btn btn-primary">Editar</a>
          <button class="btn btn-primary" (click)="deleteUser(user)">Eliminar</button>
        </td>
      </tr>
    </ng-container>
  </tbody>
</table>
