<nav *ngIf="auth.isAuthenticated()">
  <ul class="menu-horizontal">
    
      <li  *ngIf="isAdmin"><a routerLink="/usuarios" routerLinkActive="active">Usuarios</a></li> 
 
    <li>
      <ul class="menu-vertical">
        <li><a routerLink="/polling" routerLinkActive="active">Polling</a></li>
        <li><a routerLink="/eventsource" routerLinkActive="active">Event Source</a></li>
      </ul>
    </li>
    <li>
      <ul class="menu-vertical">
        <li><a routerLink="/autor" routerLinkActive="active">Autores</a></li>
        <li><a routerLink="/editorial" routerLinkActive="active">Editoriales</a></li>
        <li><a routerLink="/libro" routerLinkActive="active">Libros</a></li>
        <li><a routerLink="/pais" routerLinkActive="active">Pais</a></li>
      </ul>
    </li>
    <li>
      <ul class="menu-vertical">
        <li><a routerLink="/cliente" routerLinkActive="active">Clientes</a></li>
        <li><a routerLink="/compra" routerLinkActive="active">Compras</a></li>
        <li><a routerLink="/empleado" routerLinkActive="active">Empleados</a></li>
          <li><a routerLink="/producto" routerLinkActive="active">Productos</a></li>
          <li><a routerLink="/provedor" routerLinkActive="active">Proveedores</a></li>

      </ul>
    </li>
    <li><button class="btn btn-primary" (click)="deleteSesion()">Eliminar sesion</button></li>
  </ul>
</nav>