<div class="container">
    <h2>Crea Partida</h2>
    <form [formGroup]="partidaForm" (ngSubmit)="createPartida()">
      <div class="form-group">
        <label for="ventana1">Ventana1:</label>
        <input type="text" formControlName="ventana1" class="form-control" id="ventana1" required minlength="3" maxlength="30" pattern="[a-zA-Z\s]+">
        <div *ngIf="partidaForm.controls['ventana1'].invalid && (partidaForm.controls['ventana1'].dirty || partidaForm.controls['ventana1'].touched)" class="alert alert-danger">
          <div *ngIf="partidaForm.controls['ventana1'].hasError('required')"> 
            El ventana1 es obligatorio.
          </div>
          <div *ngIf="partidaForm.controls['ventana1'].hasError('minlength')"> 
            El ventana1 debe tener al menos 3 caracteres.
          </div>
          <div *ngIf="partidaForm.controls['ventana1'].hasError('maxlength')"> 
            El ventana1 no debe tener más de 30 caracteres.
          </div>
          <div *ngIf="partidaForm.controls['ventana1'].hasError('pattern')"> 
            El ventana1 debe contener solo letras y espacios.
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="ventana2">Ventana2:</label>
        <input type="text" formControlName="ventana2" class="form-control" id="ventana2" required minlength="3" maxlength="30" pattern="[a-zA-Z\s]+">
        <div *ngIf="partidaForm.controls['ventana2'].invalid && (partidaForm.controls['ventana2'].dirty || partidaForm.controls['ventana2'].touched)" class="alert alert-danger">
          <div *ngIf="partidaForm.controls['ventana2'].hasError('required')"> 
            El ventana1 es obligatorio.
          </div>
          <div *ngIf="partidaForm.controls['ventana2'].hasError('minlength')"> 
            El ventana1 debe tener al menos 3 caracteres.
          </div>
          <div *ngIf="partidaForm.controls['ventana2'].hasError('maxlength')"> 
            El ventana1 no debe tener más de 30 caracteres.
          </div>
          <div *ngIf="partidaForm.controls['ventana2'].hasError('pattern')"> 
            El ventana1 debe contener solo letras y espacios.
          </div>
        </div>
      </div>


      <button type="submit" class="btn btn-primary"[disabled]="partidaForm.invalid">Crear</button>
    </form>
  </div>