<div class="container">
    <h2>Crea Compra</h2>
    <form [formGroup]="compraForm" (ngSubmit)="createCompra()">
      <div class="form-group">
        <label for="Cliente">Cliente:</label>
        <select formControlName="Cliente" class="form-control" id="Cliente" required>
            <option *ngFor="let cliente of clientes" [value]="cliente.id">{{ cliente.Nombre }}</option>
          </select>
        <div *ngIf="compraForm.controls['Cliente'].invalid && (compraForm.controls['Cliente'].dirty || compraForm.controls['Cliente'].touched)" class="alert alert-danger">
          <div *ngIf="compraForm.controls['Cliente'].hasError('required')"> 
            El cliente es obligatorio.
          </div>
        </div>

        <label for="Producto">Producto:</label>
        <select formControlName="Producto" class="form-control" id="Producto" required>
            <option *ngFor="let producto of productos" [value]="producto.id">{{ producto.Nombre }}</option>
          </select>
        <div *ngIf="compraForm.controls['Producto'].invalid && (compraForm.controls['Producto'].dirty || compraForm.controls['Producto'].touched)" class="alert alert-danger">
          <div *ngIf="compraForm.controls['Producto'].hasError('required')"> 
            El Producto es obligatorio.
          </div>
        </div>

        <label for="Cantidad">Cantidad:</label>
        <input type="text" formControlName="Cantidad" class="form-control" id="Cantidad" required>
        <div *ngIf="compraForm.controls['Cantidad'].invalid && (compraForm.controls['Cantidad'].dirty || compraForm.controls['Cantidad'].touched)" class="alert alert-danger">
          <div *ngIf="compraForm.controls['Cantidad'].hasError('required')"> 
            El Cantidad es obligatoria.
          </div>
          <div *ngIf="compraForm.controls['Cantidad'].hasError('pattern')"> 
            La cantidad debe ser un número de hasta 4 dígitos
          </div>
        </div>


        <label for="Empleado">Empleados:</label>
        <select formControlName="Empleado" class="form-control" id="Empleado" required>
            <option *ngFor="let empleado of empleados" [value]="empleado.id">{{ empleado.Nombre }}</option>
          </select>
        <div *ngIf="compraForm.controls['Empleado'].invalid && (compraForm.controls['Empleado'].dirty || compraForm.controls['Empleado'].touched)" class="alert alert-danger">
          <div *ngIf="compraForm.controls['Empleado'].hasError('required')"> 
            El Empleado es obligatorio.
          </div>
        </div>


       
      </div>
      <button type="submit" class="btn btn-primary"[disabled]="compraForm.invalid">Crear</button>
    </form>
  </div>
