<div class="container">
  <h2>Crear Pais</h2>
  <form [formGroup]="paisForm" (ngSubmit)="createPais()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" formControlName="nombre" class="form-control" id="nombre">
      <div *ngIf="paisForm.controls['nombre'].invalid && (paisForm.controls['nombre'].dirty || paisForm.controls['nombre'].touched)" class="alert alert-danger">
        <div *ngIf="paisForm.controls['nombre'].hasError('required')"> 
          El nombre es obligatorio.
        </div>
        <div *ngIf="paisForm.controls['nombre'].hasError('minlength')"> 
          El nombre debe tener al menos 2 letras.
        </div>
        <div *ngIf="paisForm.controls['nombre'].hasError('pattern')"> 
          El nombre solo puede contener letras.
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="paisForm.invalid">Crear</button>
  </form>
</div>